a {
text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul, li {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
body {
    font-family:
    Roboto, sans-serif;
    background-color: #ffffff;
    color: #434455;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
	display: block;
	max-width: 100%;
    height: auto;
}

.header-container {
     display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration: none;
}

.logo-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-list {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-style: medium;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.link:hover, .link:focus {
    color: #404BBF;
}

.link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.current {
    position: relative;
    color: #404BBF ;
}
.link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404BBF ;
    position: absolute; 
    bottom: -1px;
    left: 0;
    border-radius: 2px;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
    padding: 188px 0    ;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    color: #FFFFFF;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-style: bold;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    background-color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
    font-style: medium;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
}

.benefits-com {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}

.benefits {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}
.visually-hidden  {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.benefits-incommon {
    display: flex;
    padding: 120px 0;
    justify-content: center;
    background-color: #FFFFFF;
    gap: 24px;
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-style: medium;
    margin-bottom: 8px;
}

.benefits-text {
    font-size: 16px;
    color: #434455;
    line-height: 24px;
    letter-spacing: 0.02em;
}


.team {
    background-color: #F4F4FD;
    padding: 120px 0
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    font-style: bold;
    background-color: #F4F4FD;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-li {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team-div {
    padding: 32px 0;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

.portfolio {
    background-color: #FFFFFF;
    font-size: 36px;
    color: #2E2F42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-style: bold;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 72px;
}
.portfolio-section {
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 120px;
    padding-top: 120px;
}

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.portfolio-div-text {
     border: 1px solid #e7e9fc;
    border-top: none;
    text-align: left;
    padding: 32px 16px
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    font-style: medium;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
     font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
    padding-top: 100px; 
    padding-bottom: 100px;
}

.footer-text {
    font-size: 16px;
    color: #f4f4fd;
    line-height: 1.5;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer-logo-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }